<div id="main-controls" class="action-inputs-wrapper">
  <% if day&.open? %>
    <%= form_tag work_session_activities_path(work_session_id: 'current'), remote: true do %>
      <%= text_field_tag 'activity[description]', nil,
                         class: 'activity-text-field',
                         required: true,
                         placeholder: day.active? ? 'What are you up to?' : 'Enjoy your break!',
                         disabled: !day.active? %>
    <% end %>
    <div class="action-wrapper">
      <% if day.active? %>
        <%= link_to work_session_path('current'), method: :patch, remote: true, class: 'break-button' do %>
          <i class="fa fa-coffee"></i> BREAK
        <% end %>
      <% else %>
        <%= button_to work_sessions_path, class: 'break-button', remote: true do %>
          <i class="fa fa-cog"></i> END BREAK
        <% end %>
      <% end %>
    </div>
    <div class="action-wrapper">
      <%= link_to day_path('current'), method: :patch, remote: true, class: 'end-day-button' do %>
        <i class="fa fa-moon-o"></i> END DAY
      <% end %>
    </div>
  <% else %>
    <div class="action-wrapper">
      <%= button_to work_sessions_path, class: 'new-day-button', remote: true do %>
        <i class="fa fa-sun-o"></i> NEW DAY
      <% end %>
    </div>
  <% end %>
</div>
