<ul id="work-sessions-log" class="work-sessions-list">
  <% current_day = nil %>
  <% current_work_session = nil %>
  <% work_sessions.each do |work_session| %>
    <% if current_day != work_session.day_id %>
      <li class="feed-event new-day">
        <%= local_time(work_session.day.started_at, '%A') %>
        <span class="pull-right"><%= local_time(work_session.day.started_at, '%H:%M') %></span>
      </li>
      <% current_day = work_session.day_id %>
    <% end %>

    <% if work_session.after_break? current_work_session %>
      <li class="feed-event break">
        <%= work_session.day.started_at.strftime('%A') %>
        <span class="pull-right">
          <%= formatted_break_time work_session %>
        </span>
      </li>
    <% end %>

    <% work_session.activities.each do |activity| %>
      <li class="feed-event activity">
        <%= activity.description %>
      </li>
    <% end %>
  <% end %>
</ul>
